<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <style type="text/css">
        @media screen and (max-width: 1000px) {
            .logo {
                visibility: hidden;
            }
        }

        body {
    		background: black;
    	}

        hr {
            border: 1.25px solid white;
        }

        td {
            border: 20px solid black;
            background-image: url('https://raw.githubusercontent.com/dshaps10/duckpond_website/master/josiah-weiss-479909-unsplash.jpg');
            background-size: cover;
        }

        .content-container {
            height: 100%;
            width: 100%;    
        }  

        .crosshairs {
            padding-top: 50px;
            padding-bottom: 50px;
        } 


        .highlights {
            /*border: 2px solid white;*/
            position: relative;
            height: 500px;
        }

        .hotlinks {
            position: absolute;
            right: 0;
            top: 50px;
        }

        .hotlinks > a {
            display: inline-block;
            text-decoration: none;
            color: white;
        }

        .hotlinks > a:hover {
            color: #A9A9A9
            ;
        }

        .instagram-imgs {
            width: 100%;
            height: 500px;
        }

        .link-group {
            position: fixed;
            bottom: 30px;
        }

        .link-group > a {
            color: white;
            text-decoration: none;
            /*padding-top: 10px;*/
            /*margin-left: -1px;*/
            /*writing-mode: vertical-rl;*/
        }

        #login {
            writing-mode: vertical-rl;
            font-family: "Press Start 2P";
            font-size: 0.75em;
        }

        .logo {
            position: absolute;
            top: 46px;
            left: 56px;
        }

    	.main-container {
    		position: absolute;
    		height: 100%;
    		width: 100%;
    	}

    	.main-content > div {
    		position: absolute;
    		top: 440px;
    		right: 0;
            height: 238px;
            width: 748px;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 34px;
        }

        .nav-link > h2 {
            font-family: "Press Start 2P";
            font-size: 0.75em;
        }

        .nav-link > p {
            font-size: 0.6em;
        }

        .section-title {
			height: 150px;
			width: 813px;
			color: #232323;
			font-family: "Press Start 2P";
			font-size: 150px;
			letter-spacing: 12.5px;
			line-height: 150px;
		}

    	.sidebar {
    		/*border: 2px solid white;*/
    		height: 100%;
    		max-width: 50px;
    		background: none;
    	}

        #sidebar-hr {
            transform: rotate(90deg);
        }

        .social-follow > h2 {
            font-family: "Press Start 2P";
        }  

        .social-headline {
            display: inline-block;
            font-size: 1.25em;
        } 

        .sub-container {
            position: relative;
            /*border: 2px solid white;*/
            height: 100%;
            margin-right: -4px;
        }

    	.title {
    		position: absolute;
    		bottom: 0;
            left: 56px;
    	}
    </style>
</head>
<body>
	<div class="container main-container">
		<div class="row content-container">
			<div class="sidebar col-md-1">
			</div>
			<div class="sub-container col-md-11">
                <div class="highlights">
                    <a href="/"><img src="https://raw.githubusercontent.com/dshaps10/duckpond_website/master/DP%20Swap.png" class="logo"></a>
                    <div class="hotlinks">
                        <a href="/about" class="nav-anchor header-child">
                        <div class="nav-link">
                            <h2>01</h2><hr>
                            <h2>ABOUT</h2>
                            <p>Just a bunch of quack heads, <br> serving shitty beer in the desert</p>
                        </div>
                        </a>
                        <a href="#" class="nav-anchor">
                            <div class="nav-link">
                                <h2>02</h2><hr>
                                <h2>EVENTS</h2>
                                <p>Birds of a feather party together, <br> find out where we'll be next</p>
                            </div>
                        </a>
                        <a href="https://soundcloud.com/dj-now-1" target="blank" class="nav-anchor">
                            <div class="nav-link">
                                <h2>03</h2><hr>
                                <h2>LISTEN</h2>
                                <p>oontz oontz oontz bow bow bow <br> chicka chicka chicka chicka</p>
                            </div>
                        </a>
                        <a href="#" target="blank" class="nav-anchor">
                            <div class="nav-link">
                                <h2>04</h2><hr>
                                <h2>JOIN</h2>
                                <p>Wanna jump in the Pond? <br> Come on in, the water's fine</p>
                            </div>
                        </a>
                    </div>
    				<div class="title">
    					<h1 class="section-title">ABOUT</h1>
    				</div>
    			</div>
                <div class="main-content">
                    <div>
                        <p>A thick fog blanketed the city, casting a hazy glow of streetlights over the hills and valleys. An enthusiastic crew, perched precariously on their barstools, gathered round a small table in their favorite local dive. Now some say it was the beer, or too much fireball. Others still claim it was a vision, an apparation if you will. No matter what you want to believe about that night, a goddamn duck walked into that bar and ordered a  Pabst Blue Ribbon. The rest is history.</p>
                        <img src="https://raw.githubusercontent.com/dshaps10/duckpond_website/master/Duck-CrossHairs.png" class="crosshairs">
                        <div class="social-follow">
                            <h2 class="social-headline">FOLLOW ALONG</h2><br>
                            <!-- <a class = "social-headline social-icon" href="#">Instagram</a>
                            <a class="social-headline social-icon" href="#">Facebook</a> -->
                            <table class="instagram-imgs">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                            <img src="https://raw.githubusercontent.com/dshaps10/duckpond_website/master/Duck-CrossHairs.png" class="crosshairs"><br>
                            <h2 class="social-headline">WE MAKE COOL SHIT</h2>
                        </div>
                    </div>
                </div>
            </div>  
		</div>
	</div>
</body>
</html>