<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <style type="text/css">
    	body {
    		background-image: url("https://raw.githubusercontent.com/dshaps10/duckpond_website/master/background_img.png");
    	}

    	h1 {
			position: fixed;
			left: 200px;
			bottom: 250px;
			width: 559px;
			color: #FFFFFF;
			font-family: Montserrat;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 4px;
			line-height: 24px;
    	}

    	.main-container {
    		position: fixed;
    		height: 100%;
    		width: 100%;
    	}

    	.content-container {
    		height: 100%;
    		width: 100%;	
    	}	

    	.sub-container {
    		border: 2px solid white;
    		height: 100%;
    		margin-right: -4px;
    	}

    	.sidebar {
    		border: 2px solid white;
    		height: 100%;
    		max-width: 50px;
    		background-color: #111;
    		box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
    	}

    	.link-group {
    		position: fixed;
    		bottom: 30px;
    	}

    	.link-group > a {
    		color: white;
    		text-decoration: none;
    		padding-top: 10px;
    		margin-left: -4px;
    		writing-mode: vertical-rl;
    	}
    </style>

</head>

<body>
	<div class="container main-container">
		<div class="row content-container">
			<div class="sidebar col-md-1">
				<div class="link-group">
					<a href="https://www.facebook.com/groups/DuckPondBRC/" target="blank">Facebook</a>
					<a href="https://www.instagram.com/duck.pond/" target="blank">Instagram</a>
					<a href="/login" target="blank">QUACK</a>
				</div>
			</div>
			<div class="sub-container col-md-11">
				<h1>THE DIVE BAR AT THE END OF THE WORLD</h1>
			</div>
		</div>
	</div>
</body>

</html>