<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <style type="text/css">
    	body {
            background: url("https://raw.githubusercontent.com/dshaps10/duckpond_website/master/background_img.png") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
    	}

    	h1 {
			width: 559px;
			color: #FFFFFF;
			font-family: Montserrat;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 4px;
			line-height: 24px;
    	}

        hr {
            border: 1.25px solid white;
        }


        .content-container {
            height: 100%;
            width: 100%;    
        }   


        .highlights {
            /*border: 2px solid white;*/
            position: relative;
            height: 500px;
        }

        .hotlinks {
            position: absolute;
            right: 0;
            top: 50px;
        }

        .hotlinks > a {
            display: inline-block;
            text-decoration: none;
            color: white;
        }

        .hotlinks > a:hover {
            color: #A9A9A9;
        }

        .link-group {
            position: fixed;
            bottom: 30px;
        }

        .link-group > a {
            color: white;
            text-decoration: none;
            /*padding-top: 10px;*/
            /*margin-left: -1px;*/
            /*writing-mode: vertical-rl;*/
        }

        #login {
            writing-mode: vertical-rl;
            font-family: "Press Start 2P";
            font-size: 0.75em;
        }

        .logo {
            position: absolute;
            top: 46px;
            left: 56px;
        }

    	.main-container {
    		position: fixed;
    		height: 100%;
    		width: 100%;
    	}

        .nav-link > h2 {
            font-family: "Press Start 2P";
            font-size: 0.75em;
        }

        .nav-link > p {
            font-size: 0.6em;
        }

    	.sidebar {
    		/*border: 2px solid white;*/
    		height: 100%;
    		max-width: 50px;
    		background-color: #111;
    		box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
    	}

        #sidebar-hr {
            transform: rotate(90deg);
        }

        .sub-container {
            position: relative;
            /*border: 2px solid white;*/
            height: 100%;
            margin-right: -4px;
        }

    	.title {
    		position: absolute;
    		bottom: 0;
            left: 56px;
    	}
    </style>

</head>

<body>
	<div class="container main-container">
		<div class="row content-container">
			<div class="sidebar col-md-1">
				<div class="link-group">
					<a href="https://www.instagram.com/duck.pond/" target="blank"><img src="https://nutsacbags.com/wp-content/uploads/instagram-white.png" width="20px" height="20px"></a><br><br>
                    <a href="https://www.facebook.com/groups/DuckPondBRC/" target="blank"><img src="https://raw.githubusercontent.com/dshaps10/duckpond_website/master/facebook-3-32.png" width="20px" height="20px"></a><br><br>
                    <hr id="sidebar-hr"><br>
					<a href="/login" target="blank" id="login">QUACK</a>
				</div>
			</div>
			<div class="sub-container col-md-11">
                <div class="highlights">
                    <a href="/"><img src="https://raw.githubusercontent.com/dshaps10/duckpond_website/master/DP%20Swap.png" class="logo"></a>
                    <div class="hotlinks">
                        <a href="/about" class="nav-anchor header-child">
                        <div class="nav-link">
                            <h2>01</h2><hr>
                            <h2>ABOUT</h2>
                            <p>Just a bunch of quack heads, <br> serving shitty beer in the desert</p>
                        </div>
                        </a>
                        <a href="#" class="nav-anchor">
                            <div class="nav-link">
                                <h2>02</h2><hr>
                                <h2>EVENTS</h2>
                                <p>Birds of a feather party together, <br> find out where we'll be next</p>
                            </div>
                        </a>
                        <a href="https://soundcloud.com/dj-now-1" target="blank" class="nav-anchor">
                            <div class="nav-link">
                                <h2>03</h2><hr>
                                <h2>LISTEN</h2>
                                <p>oontz oontz oontz bow bow bow <br> chicka chicka chicka chicka</p>
                            </div>
                        </a>
                        <a href="#" target="blank" class="nav-anchor">
                            <div class="nav-link">
                                <h2>04</h2><hr>
                                <h2>JOIN</h2>
                                <p>Wanna jump in the Pond? <br> Come on in, the water's fine</p>
                            </div>
                        </a>
                    </div>
    				<div class="title">
    					<h1>THE DIVE BAR AT THE <br> END OF THE WORLD</h1>
    				</div>
                </div>
            </div>  
		</div>
	</div>
</body>

</html>