<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			
			* {
				color: white;
			}

			body {
				background-image: url("https://raw.githubusercontent.com/dshaps10/duckpond_website/master/background_img.png");
			}

			h1 {
				position: relative;
				margin-top: 25%;
				margin-left: 5%;
				height: 48px;
				width: 559px;
				color: #FFFFFF;
				font-family: Montserrat;
				font-size: 20px;
				font-weight: bold;
				letter-spacing: 4px;
				line-height: 24px;
			}

			#duckpond-logo {
				margin-top: 2%;
				margin-left: 5%;
				padding-right: 40%;
			}

			.header-child {
				display: inline-block;
			}

			nav {
				position: relative;
			}

			.nav-anchor {
				text-decoration: none;
			}

			.nav-link {
				/*height: 88px;*/
				width: 165px;
				padding: 10px;
				display: inline-block;
			}

		</style>
	</head>
	<body>
		<header>
			<nav>
				<img src="https://raw.githubusercontent.com/dshaps10/duckpond_website/master/DP%20Swap.png" id="duckpond-logo" class="header-child">
				<a href="/about" class="nav-anchor header-child">
					<div class="nav-link">
						<h2>01</h2><hr>
						<h2>ABOUT</h2>
						<p>Just a bunch of quack heads serving shitty beer in the desert</p>
					</div>
				</a>
				<a href="#" class="nav-anchor">
					<div class="nav-link">
						<h2>02</h2><hr>
						<h2>EVENTS</h2>
						<p>Birds of a feather party together, find out where we'll be next</p>
					</div>
				</a>
				<a href="https://soundcloud.com/dj-now-1" target="blank" class="nav-anchor">
					<div class="nav-link">
						<h2>03</h2><hr>
						<h2>LISTEN</h2>
						<p>oontz oontz oontz bow bow bow chicka chicka chicka chicka</p>
					</div>
				</a>
			</nav>
		</header>
		<section class="sidebar">
			
		</section>
		<h1>
			THE DIVE BAR AT THE END OF THE WORLD
		</h1>
	</body>
</html>
