@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

nav {
  background: linear-gradient(to right, #ffb75e, #ed8f03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}

.vertical-center {
  border-radius: none;
  display: flex;
  align-items: center;
  height: 100vh;
  text-align: center;
  /* background: black; */
  background: linear-gradient(to right, #ffb75e, #ed8f03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;
}

.vertical-center img {
  height: 500px;
  width: 500px;
  animation: appear 4s;
}

.footer {
  padding: 10px;
  background-color: #d9d9d9;
}

.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-box {
  padding: 15px;
}

#next-event {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://github.com/dshaps10/duckpond.github.io/blob/master/event_pic.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
}

#event-info {
  text-align: center;
  color: white;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./event_pic.jpg"); */
  padding: 10px;  
}

h1 {
  font-family: 'Press Start 2P';
  font-size: 4em;
}

h4 {
  text-align: center;
  font-size: 1em;
}

.music {
  padding-top: 50px;
  padding-bottom: 100px;
}

.section-header {
  text-align: center;
  font-family: "Press Start 2P";
  color: #C84C0C;
}

.title {
  font-family: "Press Start 2P";
}